{% comment %}
This is the include file for a catalog entry summary card. Style can be done
in SASS/CSS. 

This `include` takes `package` and `plugin` arguments.
{% endcomment %}

<div class="ecosystemSummary" id="ecosystem-{{ include.plugin.name }}">
    <p class="ecosystemSummaryTitle">
        <a href="{{ include.project.url }}">{{ include.plugin.name }}</a>
    </p>
    <p class="ecosystemSummaryAuthor">
        {{ include.project.developers }}
    </p>
    <p class="ecosystemSummarySummary">
        {{ include.plugin.description }}
    </p>
    <!-- TODO: add this in later, once there are more things to include
    <ul class="ecosystemSummaryExtras">
        <li>{{ include.package.license }}</li>
    </ul>
    -->
</div>
