li {
        font-size: 1.38em;
        color: #666;
        font-weight: 300;
        line-height: 1.4em;
}

.blurb {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4em
}

.name {
    color: #222;
}

.footer-links li {
    max-width: 300px;
}

.github a.GitHub-icon {
    color: #999;
}
