:root {
    --badass-blue: #31394d;
    --other-blue: #002f4a;
    --sandy-sergio: #d9c4b1;
    --sergios-cousin: #ede3da;
    --feeling-spicy: #b85741;
    --feeling-sick: #009384;
    --beastly-grey: #666666;
}


.hero {
    background: var(--badass-blue);
}

header {
    background: var(--badass-blue);
}

footer {
    background: var(--badass-blue);
}

.bottom-cta {
    background: var(--other-blue);
}


a {
    color: var(--other-blue);
}

p, address {
    color: var(--beastly-grey);
}

h2, h3 {
    color: var(--badass-blue);
}

.button a {
    background: var(--other-blue);
    transition: 0.2s;
}

.bottom-cta h2 {
    color: #FFF;
}


li {
        font-size: 1.38em;
        color: var(--beastly-grey);
        font-weight: 300;
        line-height: 1.4em;
}

.blurb {
    font-size: 0.9em;
    color: var(--beastly-grey);
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4em
}

.name {
    color: #222;
}

.footer-links li {
    max-width: 300px;
}

.github a.GitHub-icon {
    color: --var(other-blue);
}

.bottom-cta a {
    color: #AAA;
}
