:root {
    --midnight-purple: #3f033b ;
    --light-grey: #a5a5a5;
    --baja-teal: #00bdaa;
    --cantina-purple: #8a2283;
    --queso-orange: #f29727;
    --lightest-grey: #c2c2c2;
    --diablo-red: #b00020;
    --beastly-grey: #666666;
    --not-quite-black: #270224;
}

.hero {
    background: var(--midnight-purple);
    font-family: Inter, sans-serif;

}

img.main-page-bullet {
    border: 1px solid var(--lightest-grey);
    height: 200px;
    width: auto;
}

header {
    background: var(--midnight-purple);
}

footer {
    background: var(--midnight-purple);
}

.bottom-cta {
    background: var(--not-quite-black);
    padding: 30px;
    font-size: small;
}

a {
    color: var(--baja-teal);
}

p, address {
    color: var(--beastly-grey);
}

h2, h3 {
    color: var(--midnight-purple);
    font-size: x-large;
}

.button a {
    background: var(--midnight-purple);
    transition: 0.2s;
}

.button a:hover {
    background: var(--baja-teal);
}

.button.cta.alt a:hover {
    color: var(--midnight-purple);
}

.bottom-cta h2 {
    color: #ffffff;
    margin-bottom: 0px;
}


li {
        font-size: 1.38em;
        font-weight: 300;
        line-height: 1.4em;
}

.blurb {
    font-size: 0.9em;
    color: var(--beastly-grey);
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4em
}

.name {
    color: var(--not-quite-black);
}

.footer-links li {
    max-width: 300px;
}

.github a.GitHub-icon {
    color: --var(beastly-grey);
}

table {
    border-spacing: 25px;
}

.project-name {
    text-align: center;
}

code {
    font-size: 1.0em;
    color: var(--midnight-purple);
//    background: var(--tamed-grey);
}

section {
    padding: 50px;
}